<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Translang

  body
    include section-header.pug
    include section-first-section.pug
    include section-percentage.pug
    include section-services-1.pug
    include section-services-2.pug
    include section-testimonials.pug
    include section-blog.pug
    include section-footer.pug
