section.section-testimonials
  div.blue-wave
    div.blue-wave1  

  div.cont
    div.desc
      p.text Testimonials
      h2 Don't just take our Word for it, see what Others are saying.
      button.btn See more

    div.slider
      input.slide_rev(id="rev1-4" checked="checked" name="slide_rev" type="radio")
      input.slide_rev(type="radio" name="slide_rev" id="rev5-8")

      div.slides(id="first")
        div.review-box
          div.reviews-left
            div.review1
              p.text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile development growth hacking retur on investment alpha investor advisor marketing pitch gen scrum.

              div.username Dolores Galloway 1

            div.review2
              p.text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile development growth hacking retur on investment alpha investor advisor marketing pitch gen scrum.

              div.username Anna Fry 1

          div.reviews-right
            div.review2
              p.text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile development growth hacking retur on investment alpha investor advisor marketing pitch gen scrum.

              div.username Adam Joiner 1

            div.review1
              p.text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile development growth hacking retur on investment alpha investor advisor marketing pitch gen scrum.

              div.username Darnell Freeman 1

      div.slides(id="second")
        div.review-box
          div.reviews-left
            div.review1
              p.text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile development growth hacking retur on investment alpha investor advisor marketing pitch gen scrum.

              div.username Dolores Galloway 2

            div.review2
              p.text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile development growth hacking retur on investment alpha investor advisor marketing pitch gen scrum.

              div.username Anna Fry 2

          div.reviews-right
            div.review2
              p.text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile development growth hacking retur on investment alpha investor advisor marketing pitch gen scrum.

              div.username Adam Joiner 2

            div.review1
              p.text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile development growth hacking retur on investment alpha investor advisor marketing pitch gen scrum.

              div.username Darnell Freeman 2

      
      div.arrow(id="arrow_next")
        label(for="rev1-4")
          img(src="img/arrow-right-grey.png")

        label(for="rev5-8")
          img(src="img/arrow-right-red.png")

      div.arrow(id="arrow_prev")
        label(for="rev1-4")
          img(src="img/arrow-left-red.png")

        label(for="rev5-8")
          img(src="img/arrow-left-grey.png")
