section.section-testimonials
  div.blue-wave
    div.blue-wave1

  div.cont
    div.desc
      p.text Testimonials
      h2.heading Don't just take our Word for it, see what Others are saying.
      button.btn See more

    div.slider
      div.slides

      div.arrows
        div.arrow.prev
        div.arrow.next


    button.btn.btn-bottom See more



//- Comments template
template#comments
  div.slides
    div.review-outer
      div.review-inner
        p.body
        div.username

    div.review-outer
      div.review-inner
        p.body
        div.username

    div.review-outer
      div.review-inner
        p.body
        div.username

    div.review-outer
      div.review-inner
        p.body
        div.username
