section.section-percentage

    div.cont

        h2 We Are Doing A Little Mile Of This And Of Continued That Support.

        p.text Marketing supply chain android angel inves tor leverage scrum project seed round valu proposition long tail disruptive release agile development mass market strategy foune angel investor ecosystem funding.

        div.boxes 

            div.box
                img(src="img/head-icon.png")
                p.percent 85%
                p.percent-text Creativity

            div.box
                img(src="img/diagram-icon.png")
                p.percent 90%
                p.percent-text Development

            div.box
                img(src="img/tools-icon.png")
                p.percent 69%
                p.percent-text Marketing

            div.box
                img(src="img/winner-icon.png")
                p.percent 95%
                p.percent-text Success

