section.section-blog
  div.cont
    h2.section-heading Read Our Latest Blog Post

    p.text.text-heading Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile growth hacking retur investment alpha investor advisor marketing pitch.

    div.blog
      div.blog-post
        div.post
          div.post-image

          h2.title Uncovers Ancient Ashkenaz

          div.post-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like

        div.post-mouseover
          img(src="img/twitter-icon.png")

          p.blog-hover-text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile growth hacking retur on alpha.......

          a(href='#') https://t.co/uXdzifQTjm

          div.post-hover-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like

      div.blog-post
        div.post
          div.post-image

          h2.title Proin Eu Augue Efficitur

          div.post-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like

        div.post-mouseover
          img(src="img/twitter-icon.png")

          p.blog-hover-text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile growth hacking retur on alpha.......

          a(href='#') https://t.co/uXdzifQTjm

          div.post-hover-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like

      div.blog-post
        div.post
          div.post-image

          h2.title Proin Eu Augue Efficitur

          div.post-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like

        div.post-mouseover
          img(src="img/twitter-icon.png")

          p.blog-hover-text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile growth hacking retur on alpha.......

          a(href='#') https://t.co/uXdzifQTjm

          div.post-hover-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like

      div.blog-post
        div.post
          div.post-image

          h2.title Uncovers Ancient Ashkenaz

          div.post-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like

        div.post-mouseover
          img(src="img/twitter-icon.png")

          p.blog-hover-text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile growth hacking retur on alpha.......

          a(href='#') https://t.co/uXdzifQTjm

          div.post-hover-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like

      div.blog-post
        div.post
          div.post-image

          h2.title Proin Eu Augue Efficitur

          div.post-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like

        div.post-mouseover
          img(src="img/twitter-icon.png")

          p.blog-hover-text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile growth hacking retur on alpha.......

          a(href='#') https://t.co/uXdzifQTjm

          div.post-hover-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like

      div.blog-post
        div.post
          div.post-image

          h2.title Proin Eu Augue Efficitur

          div.post-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like
            
        div.post-mouseover
          img(src="img/twitter-icon.png")

          p.blog-hover-text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile growth hacking retur on alpha.......

          a(href='#') https://t.co/uXdzifQTjm

          div.post-hover-features
            p.icon 
            p.author   Jhon Smith
            p.icon 
            p.comments   0 Comment
            p.icon 
            p.likes   0 Like


