section.section-services-1
 
    div.wave

        div.wave1

    div.cont

        img(src="img/windows-image-1.png")

        div.desc

            h2 Everyone Can Be Involved With Visual Direction.

            p.text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile development growth hacking retur on investment alpha. Investor advisor marketing pitch gen scrum project burn rate responsive web design agile development innovator termsheet graphical users interface.

            button.btn Learn more