section.section-first-section
  div.cont
    h2.mtv The thing motiviates us is a very common form of motivation and that is with other folk counting on me, it’s so easy to #[br] be motivated.

    div.boxes
      div.box
        img(src="img/diagram.png")
        p.box-heading Extended Documentation & Video Tutorials.
        p.box-desc User centered design moleskin ideate quantitative vs qualitative driven idea big data hacker programming diam nummy ni euismod tincidunt.

      div.box
        img(src="img/camera.png")
        p.box-heading Full Range Of Design And Motion Services.
        p.box-desc User centered design moleskin ideate quantitative vs qualitative driven idea big data hacker programming diam nummy ni euismod tincidunt.

      div.box
        img(src="img/settings.png")
        p.box-heading Detaliled Case Studies For Perfect Results.
        p.box-desc User centered design moleskin ideate quantitative vs qualitative driven idea big data hacker programming diam nummy ni euismod tincidunt.

