section.section-services-2
  div.wave
    div.wave1

  div.cont
    div.desc
      h2.heading User research & Feedback In One Place.
      p.text Funding freemium technology focus equity bootstrapping usernce niche market. Seed round agile development growth hacking retur on investment alpha. Investor advisor marketing pitch gen scrum project burn rate responsive web design agile development innovator termsheet graphical users interface.
      img(src='img/all-stat.png')
      button.btn Learn more
