section.section-header
  div.top-bar
    div.logo
      img(src="img/logo.png")

    div.logo-text
      img(src="img/logo_text.png")

    div.phone +0123456789

    div.nav
      ul
        each name in ['HOME', 'Services', 'Testimonials', 'Contact']
          li
            a(href="#")= name

    button.btn Sign Up

  div.text-header
    p.heading Investment To The Future Business Technology
    p.text Virality crowdsource monetization social proof client IPad focus supply chain direct.
    button.btn Get Started
