.section-footer {
  
  margin-top: 100px;

  .container {
    width: 100%;
    max-width: 1435px;
    margin: 0 auto;
    height: 215px;
    display: flex;
    flex-wrap: wrap;
    position: relative;

    @media (max-width: 900px) {
      position: initial;
      height: auto;
    }
  }

  .white-block {
    width: 100%;
    height: 429px;
    background-image: url('img/big-white-wave.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 160px;
    padding-right: 160px;
    position: absolute;

    @media (max-width: 1255px) {
      height: 385px;
      top: 11%;
    }

    @media (max-width: 1142px) {
      padding-left: 100px;
      padding-right: 100px;
    }

    @media (max-width: 1130px) {
      height: 345px;
      top: 20%;
    }

    @media (max-width: 900px) {
      background-image: none;
      position: initial;
      height: auto;
    }

    @media (max-width: 785px) {
      flex-direction: column;
    }
  }

  .white-block-text {
    margin-right: 50px;

    @media (max-width: 785px) {
      margin: 0 auto;
    }
  }

  .text {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;

    @media (max-width: 1060px) {
      margin-top: 0;
    }

    @media (max-width: 785px) {
      text-align: center;
    }
  }

  .heading {
    @media (max-width: 1060px) {
      margin-top: 0;
    }

    @media (max-width: 900px) {
      margin: 40px auto;
    }

    @media (max-width: 785px) {
      text-align: center;
    }
  }

  .btn {
    margin-bottom: 40px;
  }

  .footer {
    background-image: url('img/footer-blue-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .cont {
    display: flex;
    justify-content: space-between;
    
    @media (max-width: 1000px) {
      flex-direction: column;
    }
  }
  
  .company {
    padding-top: 273px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    width: 350px;
    margin-right: 200px;

    @media (max-width: 1255px) {
      padding-top: 245px;
      margin-right: 80px;
    }

    @media (max-width: 1130px) {
      padding-top: 215px;
    }

    @media (max-width: 1060px) {
      padding-top: 170px;
    }

    @media (max-width: 1000px) {
      display: flex;
      width: 100%;
      padding-right: 30px;
      margin-right: 0;
    }

    @media (max-width: 900px) {
      padding-top: 80px;
    }

    @media (max-width: 485px) {
      flex-direction: column;
    }
  }

  .company-desc {
    padding-right: 30px;
  }

  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
  }

  .logo-image {
    margin-right: 8px;
  }

  .footer-text {
    margin-bottom: 25px;
    line-height: 25px;
  }

  .contacts {
    display: flex;
  }

  .contacts-icon {
    font-family: 'Font Awesome';
    margin-right: 15px;
  }

  .footer-menu {
    margin-top: 273px;
    display: flex;
    color: #fff;
    flex-grow: 1;
    justify-content: space-between;

    @media (max-width: 1255px) {
      margin-top: 245px;
    }

    @media (max-width: 1130px) {
      margin-top: 215px;
    }

    @media (max-width: 1060px) {
      margin-top: 170px;
    }

    @media (max-width: 1000px) {
      margin-top: 80px;
    }

    @media (max-width: 550px) {
      flex-wrap: wrap;
    }
  }

  .footer-menu-section {
    @media (max-width: 550px) {
      width: calc(50% - 20px);
    }

    @media (max-width: 400px) {
      width: 100%;
    }
  }

  .footer-menu-heading {
    margin-top: 0;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 35px;
  }

  ul {
    list-style-type: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 44px;
    padding-left: 0;
    padding-right: 20px;
    padding-bottom: 30px;

    @media (max-width: 550px) {
      line-height: 30px;
    }
  }

  .follow {

    ul {
      margin-right: 0;
    }
  }

  .copyright {
    margin-top: 120px;
    padding: 0 50px 70px 50px;
    text-align: center;
    color: #fff;
  }
}
