.section-header {
  height: 900px;
  background-image: url('img/wave_1.svg');
  background-repeat: no-repeat;
  background-position: right top;
  margin: 0;

  @media (max-width: 1540px) {
    background-position: calc(100% + 110px) top;
  }

  @media (max-width: 1380px) {
    background-position: calc(100% + 380px) top;
  }

  @media (max-width: 1120px) {
    background-image: none;
    height: auto;
  }

  .header-cont {
    width: 100%;
    margin: 0 auto;
    padding: 0 160px;

    @media (max-width: 1120px) {
      padding: 0 100px;
    }

    @media (max-width: 1000px) {
      padding: 0 50px;
    }
  }

  .top-bar {
    display: flex;
    width: 100%;
    padding-top: 54px;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1120px) {
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: 700px) {
      margin: 0 auto;
    }
    
    @media (max-width: 520px) {
        align-items: start;
      }

    @media (max-width: 410px) {
      width: 100%;
    }

    .left-side {
      display: flex;
      align-items: center;

      @media (max-width: 520px) {
        flex-direction: column;
        align-items: start;
      }
    }

    .right-side {
      display: flex;
      align-items: center;
    }

    .logo {
      width: 142px;
      padding-right: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 45px;

      @media (max-width: 520px) {
        margin-right: 0;
      }
    }

    .btn {
      width: 113px;
      height: 36px;
      border-radius: 18px;
      color: #fff;
      font-family: 'Muli - Extra Bold', sans-serif;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;

      @media (max-width: 660px) {
        display: none;
      }
    }

    .phone {
      background-image: url('img/phone-icon.png');
      background-position: left center;
      background-repeat: no-repeat;
      color: #161e6d;
      font-family: 'Avenir Next LT Pro', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 50px;
      text-align: right;
      padding-left: 32px;
    }

    .nav {
      width: 395px;
      margin-left: auto;
      margin-right: 65px;
      color: #fff;
      font-size: 15px;
      font-weight: 400;

      @media (max-width: 1540px) {
        width: 300px;
        margin-right: 35px;
      }

      @media (max-width: 1380px) {
        width: 48px;
        height: 48px;
        background-image: url('img/menu-hamburger.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      @media (max-width: 1120px) {
        background-image: url('img/menu-hamburger-black.png');
      }

      @media (max-width: 660px) {
        margin: 0;
      }

      ul {
        display: flex;
        justify-content: space-between;
        padding: 0;

        @media (max-width: 1380px) {
          display: none;
        }
      
        li {
          list-style-type: none;

          &:hover {
            background-image: url('img/rectangle.png');
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 100% 8px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .text-header {
    max-width: 410px;
    text-align: left;
    font-weight: 400;
    padding-top: 260px;

    @media (max-width: 1120px) {
      padding-top: 130px;
      max-width: 580px;
    }

    @media (max-width: 480px) {
      padding-top: 80px;
    }

    @media (max-width: 410px) {
      width: 100%;
    }

    .heading {
      margin-top: 0;
      font-size: 50px;
      line-height: 65px;
      margin-bottom: 50px;
    
      @media (max-width: 680px) {
        font-size: 45px;
        line-height: 60px;
      }

      @media (max-width: 480px) {
        font-size: 40px;
        line-height: 55px;
      }
    }

    .text {
      margin-top: 0;
      margin-bottom: 56px;
    }
  }
}
