.section-header {
  height: 900px;
  background-image: url('img/wave_1.svg');
  background-repeat: no-repeat;
  background-position: right top;
  margin: 0;

  @media (max-width: 1540px) {
    background-position: calc(100% + 110px) top;
  }

  @media (max-width: 1380px) {
    background-position: calc(100% + 380px) top;
  }

  @media (max-width: 1120px) {
    background-image: none;
  }

  .top-bar {
    display: flex;
    width: 100%;
    padding: 54px 160px 0;
    align-items: center;

    @media (max-width: 1120px) {
      width: 410px;
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
      margin-left: 160px;
    }

    .btn {
      width: 113px;
      height: 36px;
      border-radius: 18px;
      color: #fff;
      font-family: 'Muli - Extra Bold', sans-serif;
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase;

      @media (max-width: 1120px) {
        order: 1;
        margin: 0 auto;
      }
    }

    .logo-text {
      padding-left: 8px;
      padding-top: 4px;
      padding-bottom: 3px;
    }

    .phone {
      background-image: url('img/phone-icon.png');
      background-position: left center;
      background-repeat: no-repeat;
      color: #161e6d;
      font-family: 'Avenir Next LT Pro', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 50px;
      text-align: right;
      margin-left: 45px;
      padding-left: 32px;

      @media (max-width: 1120px) {
        order: 3;
        margin-left: 0;
      }
    }

    .nav {
      width: 395px;
      margin-left: auto;
      margin-right: 65px;
      color: #fff;
      font-size: 15px;
      font-weight: 400;

      @media (max-width: 1540px) {
        width: 300px;
        margin-right: 35px;
      }

      @media (max-width: 1380px) {
        width: 48px;
        height: 48px;
        background-image: url('img/menu-hamburger.png');
        background-repeat: no-repeat;
        background-size: contain;
      }

      @media (max-width: 1120px) {
        order: 2;
        margin: 0;
        background-image: url('img/menu-hamburger-black.png');
      }

      ul {
        background-image: url('img/rectangle.png');
        background-repeat: no-repeat;
        background-position: left bottom;
        display: flex;
        justify-content: space-between;
        padding: 0;

        @media (max-width: 1380px) {
          display: none;
        }
      
        li {
          list-style-type: none;
        }
      }
    }
  }

  .text-header {
    width: 410px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 163px;
    margin-left: 160px;
    padding-top: 260px;

    @media (max-width: 1120px) {
      padding-top: 130px;
    }

    .heading {
      margin-top: 0;
    }

    .text {
      margin-top: 0;
      margin-bottom: 56px;
    }
  }
}
