.section-percentage {
  background-image: url('img/big-lightblue-wave.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 0px;
  padding-bottom: 74.46%;
  background-size: cover;
  position: relative;
  overflow: hidden;

  @media (max-width: 1460px) {
    height: 1087px;
    padding-bottom: 0;
  }

  @media (max-width: 890px) {
    background-image: none;
    position: initial;
  }

  @media (max-width: 785px) {
    height: auto;
  }

  .cont {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 1251px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 890px) {
      top: 0;
      left: 0;
      margin: 0 auto;
      transform: none;
      height: auto;
      position: initial;
    }
  }

  .heading {
    max-width: 858px;
    text-align: center;
  }

  .text {
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
    max-width: 865px;
    text-align: center;
    margin-bottom: 110px;

    @media (max-width: 1021px) {
      font-size: 20px;
      line-height: 35px;
    }
  
    @media (max-width: 770px) {
      font-size: 15px;
      line-height: 25px;
    }
  }

  .boxes {
    padding-right: 15px;
    padding-left: 15px;

    @media (max-width: 890px) {
      max-width: 510px;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  .box {
    text-align: center;
    width: 190px;

    @media (max-width: 890px) {
      margin-bottom: 30px;
    }
  }

  .percent {
    color: #161e6d;
    font-family: 'Avenir Next LT Pro - Demi', sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin-top: 37px;
    margin-bottom: 0;
    text-align: center;

    @media (max-width: 1021px) {
      font-size: 40px;
    }
  
    @media (max-width: 770px) {
      font-size: 35px;
    }
  }

  .percent-text {
    color: #52585b;
    font-size: 30px;
    font-weight: 400;
    line-height: 50px;
    margin: 0;

    @media (max-width: 1021px) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
