.section-services-1 {

  position: relative;
  margin-top: 100px;

  @media (max-width: 890px) {
    margin-top: 50px;
    position: initial;
  }

  .wave {
    width: 50.71%;

    @media (max-width: 890px) {
      display: none;
    }
  }
    
  .wave1 {
    background-image: url('img/light-blue-wave-1.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 0px;
    padding-bottom: 98.35%;
    background-size: cover;
    position: relative;
  }

  .cont {
    background-image: url('img/windows-image-1.png');
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 840px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1415px;

      @media (max-width: 1460px) {
        margin: 0 auto;
      }

      @media (max-width: 1215px) {
        background-image: url('img/adaptive-windows-1.png');
        background-repeat: no-repeat;
        background-position: left center;
        max-width: 990px;
      }

      @media (max-width: 890px) {
        top: 0;
        left: 0;
        margin: 0 auto;
        transform: none;
        height: 585px;
        position: initial;
      }

      @media (max-width: 785px) {
        background-position: bottom center;
        height: auto;
      }
  }

  .desc {
    max-width: 490px;
    flex-direction: column;
    justify-content: center;
    margin-left: 870px;

    @media (max-width: 1460px) {
      margin-left: 815px;
    }

    @media (max-width: 1215px) {
      margin-left: 445px;
    }

    @media (max-width: 1020px) {
      margin-left: 430px;
    }

    @media (max-width: 785px) {
      text-align: center;
      margin: 50px auto 650px auto;
    }
  }

  h2 {
    margin-bottom: 60px;
    margin-top: 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;

    @media (max-width: 890px) {
      margin-bottom: 30px;
    }
  }

  .text {
    margin: 0;
  }

  .btn {
    margin-top: 60px;

    @media (max-width: 890px) {
      margin-top: 30px;
    }
  }
}
