.section-services-2 {

  margin-top: 185px;
  position: relative;

  @media (max-width: 890px) {
    margin-top: 115px;
    position: initial;
  }

  @media (max-width: 520px) {
    margin-top: 55px;
  }
  
  .wave {
    width: 50.71%;
    margin-left: auto;

    @media (max-width: 890px) {
      display: none;
    }
  }
  
  .wave1 {
    background-image: url('img/light-blue-wave-2.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 0px;
    padding-bottom: 98.35%;
    background-size: cover;
    position: relative;
  }

  .cont {
    background-image: url('img/windows-image-2.png');
    background-repeat: no-repeat;
    background-position: right center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 840px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1415px;

    @media (max-width: 1460px) {
      margin: 0 auto;
    }

    @media (max-width: 1215px) {  
      background-image: url('img/all-stat.png');
      background-repeat: no-repeat;
      background-position: right center;
      background-size: 420px auto;
      max-width: 990px;
    }

    @media (max-width: 890px) {
      top: 0;
      left: 0;
      margin: 0 auto;
      transform: none;
      height: 585px;
      position: initial;
    }

    @media (max-width: 785px) {
      background-image: none;
      height: auto;
    }
  }

  .desc {
    max-width: 490px;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1460px) {
      margin-right: 815px;
    }

    @media (max-width: 1400px) {
      margin-right: 790px;
    }

    @media (max-width: 1215px) {
      margin-right: 420px;
    }

    @media (max-width: 785px) {
      text-align: center;
      margin: 50px auto 0 auto;
      padding: 0;
    }
  }

  .heading {
    margin-bottom: 60px;
    margin-top: 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;

    @media (max-width: 1000px) {
      font-size: 35px;
      line-height: 45px;
    }

    @media (max-width: 890px) {
        margin-bottom: 30px;
    }
    
    @media (max-width: 770px) {
      font-size: 30px;
      line-height: 40px;
    }
  
    @media (max-width: 680px) {
      font-size: 25px;
      line-height: 35px;
    }
  }

  .text {
    margin: 0;
  }

  img {
    display: none;
    
    @media (max-width: 785px) {
      display: flex;
      width: 100%;
      max-width: 420px;
      margin: 20px auto 0 auto;
    }
  }

  .btn {
    margin-top: 60px;

    @media (max-width: 890px) {
      margin-top: 30px;
    }
  }
}
