.section-testimonials {
  margin-top: 120px;
  position: relative;

  @media (max-width: 785px) {
    margin-top: 100px;
    position: initial;
  }

  .blue-wave {
    width: 61.36%;
    margin-right: auto;

    @media (max-width: 785px) {
      display: none;
    }
  }

  .blue-wave1 {
    background-image: url('img/blue-wave-left.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 0px;
    padding-bottom: 107.97%;
    background-size: cover;
    position: relative;
  }

  .cont {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1495px;

    @media (max-width: 1440px) {
      max-width: 990px;
    }

    @media (max-width: 785px) {
      position: initial;
      margin: 0 auto;
      transform: none;
      flex-direction: column;
      height: auto;
    }
  }

  .desc {
    max-width: 426px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 115px;

    @media (max-width: 1580px) {
      margin-right: 50px;
    }

    @media (max-width: 1000px) {
      max-width: 330px;
    }

    @media (max-width: 785px) {
      align-items: center;
      margin: 0;
      height: auto;
    }

    .text {
      color: #fff;
      font-size: 20px;
      margin-bottom: 55px;

      @media (max-width: 785px) {
        color: #161e6d;
        margin-bottom: 0;
      }
    }

    .heading {
      color: #fff;
      margin-bottom: 68px;

      @media (max-width: 785px) {
        color: #161e6d;
        text-align: center;
      }
    }

    .btn {
      width: 163px;
      height: 55px;

      @media (max-width: 785px) {
      display: none;
      }
    }
  }

  /* Слайдер */
  .slider {
    position: relative;
    width: 900px;
    height: 800px;
  }

  /* Здесь все слайды */
  .slides {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .5s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  /* Обертка для каждого отдельного слайда */
  .review-outer {
    width: calc(50% - 15px);
    display: flex;
    margin-bottom: 30px;

    &:nth-child(1), &:nth-child(3) {
      justify-content: flex-end;
    }

    .review-inner {
      padding: 34px 60px 0 45px;
      box-shadow: 0 0 40px rgba(0,0,0,0.5);
      background-color: #fff;

      &.empty {
        opacity: .3;
      }

      .body {
        margin-top: 0;
        overflow: hidden;
      }
    }

    &:nth-child(1), &:nth-child(4) {
      .review-inner {
        width: 420px;
        height: 280px;

        .body {
          height: calc(25px * 6);
        }
      }
    }

    &:nth-child(1), &:nth-child(3) {
      .review-inner {
        position: relative;
        top: 80px;
      }
    }

    &:nth-child(2), &:nth-child(3) {
      .review-inner {
        width: 329px;
        height: 332px;

        .body {
          height: calc(25px * 8);
        }
      }
    }

    &:nth-child(1), &:nth-child(2) {
      .review-inner {
        align-self: flex-end;
      }
    }

    &:nth-child(3), &:nth-child(4) {
      .review-inner {
        align-self: flex-start;
      }
    }
  }

  .body {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
  }

  .username {
    height: 52px;
    line-height: 52px;
    background-image: url('img/userpic.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    padding-left: 80px;
    color: #161e6d;
    font-family: 'Avenir Next LT Pro - Demi';
    font-size: 20px;
    font-weight: 400;

    @media (max-width: 346px) {
      line-height: 25px;
    }
  }

  /* Arrows */
  .arrows {
    display: flex;
    position: absolute;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;

    .arrow {
      width: 100px;
      height: 30px;
      background-position: center;
      background-repeat: no-repeat;
      cursor: pointer;

      &.prev {
        background-image: url('img/arrow-left-grey.png');

        &:hover {
          background-image: url('img/arrow-left-red.png');
        }
      }

      &.next {
        background-image: url('img/arrow-right-grey.png');

        &:hover {
          background-image: url('img/arrow-right-red.png');
        }
      }
    }
  }

  /* See more */
  .btn-bottom {
    margin-top: 65px;
    display: none;

    @media (max-width: 785px) {
      display: initial;
    }
  }
}
